<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}</title>

    {{ function('wp_head') }}
  </head>
  <body>

    <header>
      {% if function('is_front_page') %}
        <h1>
          {{ site.name }}
        </h1>
      {% else %}
        <a href="{{ site.url }}" rel="home">
          {{ site.name }}
        </a>
      {% endif %}

      <ul>
        {%- for item in main_menu.items -%}
          <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </header>

    <main>
      {% block content %}
        Sorry, no content
      {% endblock %}
    </main>

    {{ function('wp_footer') }}

  </body>
</html>
