{% extends "base.twig" %}

{% block content %}

  {%- set photo = TimberImage(post.photo) -%}
  {%- if photo -%}
    <img alt="" src="{{ photo|resize(500) }}">
  {%- endif -%}

  <h1>{{ post.title }}</h1>

  <p>
    <em>{{ post.job_title }}</em>
  </p>

  {{ post.content }}

  <h2>Other Staff</h2>

  <p>
    {%- for staff in staff_list -%}
      {% if loop.last %}and {% endif %}
      <a href="{{ staff.link }}">{{ staff.title }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
  </p>

{% endblock %}
